.contentDetail {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px 16px;

  &__title {
    margin: 16px 0px;
    text-align: center;
  }

  &__title h4 {
    margin: 0;
    font-size: 1rem;
  }

  &__text {
    padding: 18px 0px;
  }
}

.labelDetail {
  &__left {
    display: flex;
  }

  &__logo {
    margin-right: 10px;
  }

  &__logo img {
    width: 80px;
  }

  &__text {
    text-align: center;
  }

  &__text h4 {
    margin: 0;
    line-height: 1.8;
    font-size: 0.9rem;
  }

  &__text h5 {
    margin: 0;
    line-height: 1.5;
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__text p {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 400;
  }
}

.notificationDetail {
  background-color: #fff;
  padding: 8px 0px;

  &__content {
    margin: 0;
    margin: 8px 16px;
    font-size: 0.8rem;
  }

  &__content a {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__content a p {
    margin: 1.5px 0px 0px 3px;
    font-size: 0.9rem;
    color: #1c2e36;
    font-weight: 500;
  }

  &__content img {
    width: 22px;
  }

  &__content a:hover > p {
    color: #f50057;
  }
}

.commentDetail,
.CommentListDetail {
  background-color: #fff;
  padding: 20px 16px;
}
