.exchangeRate {
  &__header {
    display: flex;
    padding: 3px;
  }

  &__title {
    margin: 0px 0px 0px 46px;
    padding: 8px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    flex-grow: 1;
  }

  &__iconButton {
    width: 46px !important;
  }

  &__icon {
    color: #00a152;
  }

  &__notification {
    margin: 0;
    padding: 0px 0px 8px 0px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 0.8rem;
  }
}
.head {
  &__row {
    padding: 8px 0px !important;
  }
  &__cell {
    text-align: center !important;
    font-weight: 600 !important;
    font-family: "Muli", sans-serif !important;
    font-size: small !important;
  }
  &__cell p {
    margin: 0;
    line-height: 1.2 !important;
    font-size: 0.7rem;
    font-weight: 500;
    font-style: italic;
  }
}

.body {
  &__cell {
    padding: 10px 25px !important;
  }

  &__row:nth-of-type(odd) {
    background-color: #ebedf0;
  }

  &__currency {
    display: flex;
  }

  &__ensign {
    margin: 3px 5px 0px 0px;
    width: 20px;
    height: 14px;
    border-radius: 2px;
  }
}
