.menu {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  &__box {
    flex-grow: 1;
    display: flex;
  }

  &__button {
    margin: 0 16px !important;
    text-transform: none !important;
    color: #1c2e36 !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
  }
}
