.skeleton {
  margin-top: 50px;
  border-radius: 10px;

  &__title {
    display: flex;
  }

  &__title h4 {
    margin: 6px 0px;
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.content {
  &__card {
    margin-top: 16px;
    padding: 12px;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.3s all;
  }
}
