.deposit {
  &__title {
    margin: 0;
    padding: 8px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  &__notification {
    margin: 0;
    padding: 0px 0px 8px 0px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 0.8rem;
  }
}
