.featuredNews {
  padding: 8px;
  border-radius: 10px;
  border-left: 1px dotted #f9aa33;
  border-bottom: 1px dotted #f9aa33;

  &__title {
    display: flex;
  }

  &__title h4 {
    margin: 6px 0px;
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__iconAdd {
    color: #f50057 !important;
  }
}

#featuredNews-conent {
  max-height: 40vh;
  overflow: auto;
}

.content {
  &__card {
    margin-top: 16px;
    padding: 12px;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.3s all;
  }

  &__title {
    max-width: 100%;
    display: flex;
    padding-bottom: 16px;
  }

  &__icon {
    margin-right: 8px;
  }

  &__title a {
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
  }
}

.notification {
  display: flex;
  margin: 0;
  padding: 0;

  &__content {
    margin: 0px 12px;
    font-size: 0.8rem;
    color: #4a6572 !important;
    font-weight: 500;
  }
}
