.breadcrumbsExportER {
  &__button {
    color: #00a152 !important;
    font-size: 1rem !important;
    text-decoration: none !important;
    transition: 0.3s all;
  }

  &__button:hover {
    color: #f50057 !important;
  }
}

.contentExportER {
  background-color: #fff;
  margin-top: 15px;
  padding: 20px 16px;

  &__title {
    margin: 16px 0px;
    text-align: center;
  }

  &__title h3 {
    margin: 0;
    font-size: 1.3rem;
  }

  &__title h5 {
    margin: 0;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 500;
  }

  &__text {
    padding: 18px 0px;
  }

  &__notification h5 {
    margin: 0;
    line-height: 1.8;
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__notification h4 {
    margin: 0;
    padding: 16px 32px 0px 0px;
    line-height: 1.8;
    font-size: 1rem;
    font-weight: 600;
  }

  &__notification u {
    font-weight: 600;
  }
}

.labelExportER {
  &__left {
    display: flex;
  }

  &__logo {
    margin-right: 10px;
  }
  &__logo img {
    width: 80px;
  }

  &__text {
    text-align: center;
  }

  &__text h4 {
    margin: 0;
    line-height: 1.8;
    font-size: 0.9rem;
  }

  &__text h5 {
    margin: 0;
    line-height: 1.5;
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__text p {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
