/* vietnamese */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk40eiNxw"),
    url(./fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk40eiNxw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk50eiNxw"),
    url(./fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk50eiNxw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30eg"),
    url(./fonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30eg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("flUhRq6tzZclQEJ-Vdg-IuiaDsNc"),
    url(../src/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

/* style dialog material-ui */
.dialogTitle {
  margin: 18px 0px;
  padding: 0px 8px;
  border-left: 2px solid #f50057;
  background-color: #f8f8f8;
}
.dialogTitle_content {
  font-family: "Muli", sans-serif;
  font-size: 1.3rem !important;
  color: #1c2e36;
}
.dialogButtonCancel {
  font-family: "Muli", sans-serif !important;
  color: #1c2e36 !important;
  font-weight: 600 !important;
}
.dialogButtonSave {
  background: linear-gradient(45deg, #00e676 20%, #d1ff33 90%) !important;
  margin: 16px 0px !important;
  padding: 6px 16px !important;
  font-family: "Muli", sans-serif !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  text-transform: none !important;
  color: #f8f8f8;
}
.dialogButtonDelete {
  background: linear-gradient(45deg, #ff3d00 20%, #ffcf33 90%) !important;
  margin: 16px 0px !important;
  padding: 6px 16px !important;
  font-family: "Muli", sans-serif !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  text-transform: none !important;
  color: #f8f8f8;
}
.dialogAction {
  background-color: #f8f8f8;
  border-top: 1.5px solid #daa520;
}

html {
  background-color: rgb(244, 244, 244);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-top: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h4,
h5,
h6,
a,
li,
button,
input {
  font-family: "Muli", sans-serif !important;
  color: #1c2e36 !important;
}
h1,
h2,
h3 {
  font-family: "Muli", sans-serif;
  color: #00524e;
}

th,
td {
  font-family: "Muli", sans-serif !important;
  color: #1c2e36 !important;
}
th {
  font-weight: 600 !important;
}

p {
  font-family: "Muli", sans-serif !important;
  color: #4a6572;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.title-news {
  padding: 0px 16px;
  border-left: 2px solid #daa520;
}

.detail-featuredNews:hover {
  color: #f50057 !important;
}
.detail-news:hover {
  color: #00a152 !important;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #4a6572 !important;
  border-radius: 8px;
}
