.footer {
  background-color: #343a40;

  &__border {
    height: 150px;
    background-color: aqua;
    border-radius: 1000px 1000px 0px 0px;
  }

  &__title {
    margin: 0;
    color: #737373;
    font-size: 1.2rem;
  }

  &__copyright {
    margin: 0;
    color: #737373 !important;
    font-size: 1rem;
  }
}

.listFooter {
  &__iconButton {
    background-color: #f8f8f8 !important;
  }
  &__listIcon svg {
    color: #737373;
  }
  &__listText span {
    color: #737373;
    font-size: 0.9rem;
  }
}
