.footer {
  background: -webkit-linear-gradient(to right, #4caf50, #ffcd38);
  background: linear-gradient(45deg, #4caf50 10%, #ffcd38 90%);

  &__title {
    margin: 0;
    color: #47544d;
    font-size: 1.2rem;
  }

  &__copyright {
    margin: 0;
    color: #47544d !important;
    font-size: 1rem;
  }
}

.listFooter {
  &__iconButton {
    background-color: #f8f8f8 !important;
  }
  &__listIcon svg {
    color: #47544d;
  }
  &__listText span {
    color: #47544d;
    font-size: 0.9rem;
  }
}
